@require "-root"

body
	width 100%
	max-width 900px
	min-width 300px
	margin 0 auto

.intro
	overflow hidden
	position relative
	padding 4rem 0 2rem

p, li
	line-height 1.8
	margin-bottom 1.5rem

li
	line-height 1.8
	margin-bottom 0.75rem
	> ul, > ol
		padding-top 1rem

p ~ ul,
p ~ ol
	margin-top -0.5rem
	margin-bottom 1.5rem

h2
	margin-top 4rem
	font-size 1.6rem
	margin-bottom 1rem
	font-weight 700

ul, ol
	padding-left 2rem

blockquote
	padding-left 1rem
	border-left 4px solid $orange1
	font-style italic

footer
	padding 2rem 0

@media screen and (max-width: 769px)
	html
		font-size 14px
	footer .copy
		margin-top 0
	body
		padding-left 1rem
		padding-right 1rem

@media screen and (max-width: 441px)
	body
		padding-left 0.5rem
		padding-right 0.5rem
