@require "-root"

body
	display flex
	flex-direction column
	background-color $blue1
	justify-content center
	align-items center

.card
	margin-top 6rem
	position relative
	@extend $btn-shadow1
	background-color $white
	border-radius 0.5rem
	align-items center
	padding 3rem 2rem
	line-height 1.75
	min-width 300px
	max-width 40rem
	width 80%

.card p
	line-height 1.4
	margin-bottom 0.5rem

.logo
	display inline-block
	margin-bottom 2rem
	margin-top -1rem
	z-index 1
.logo::after
	z-index 0

@media screen and (max-width: 769px)
	html
		font-size 14px
	.card
		width 98%
		padding 3rem 1.5rem 2rem
