input,
button
	outline none
	background transparent
	-webkit-appearance none
	border none

.btn
	cursor pointer
	border-radius 6px
	text-decoration none
	padding 0.75rem 1.5rem
	background-color $gray
	transition all 250ms ease-in-out
	display inline-block
	text-align center
	color $black
	@extend $btn-shadow1

.btn:hover
	@extend $btn-shadow2

.btn
	@extend $focus-ring

.btn.pri
	background-color $orange2
	color $white

label
	position relative
	padding-top 1.5rem
	text-align left
	width 100%

label > span
	color #3C434A
	user-select none
	position absolute
	transition all 250ms
	transform-origin bottom left
	transform translateY(-4.5rem) scale(0.875)

label > input
	display block

input
	width 100%
	color #3C434A
	padding 0.25rem 0.5rem
	border-radius 0.5rem 0.5rem 0 0
	transition border-color 200ms linear
	border-bottom 1px solid #7C8794
	line-height 2rem
	font-size 1rem

input:not(:disabled):not([readonly]):hover,
label:hover > input:not(:disabled):not([readonly])
	border-color $orange1

input:disabled,
input[readonly]
	opacity 0.7
	background-color $gray
	border-bottom-color rgba(#7C8794, 0.5)
	& ~ span
		color rgba(#7C8794, 0.6)
input:disabled
	cursor not-allowed

input:focus,
input:focus-visible
	box-shadow none

input:not([readonly]):focus,
input:not([readonly]):focus-visible
	border-color $orange2

label input:invalid + span
	transform translateY(-2.25rem) scale(1)
	color #7C8794

label:hover + span
	color #7C8794

label input:focus + span,
label input:focus-visible + span,
label.fill > input + span
	transform translateY(-4.5rem) scale(0.875)
	color #7C8794

label > small
	font-size 65%
	position absolute
	color rgba(#7C8794, 0.75)

label.error
	input
		border-color #f03e3e !important
	input, small, input+span
		color #ff6b6b

.toaster
	position fixed
	pointer-events none
	bottom 2rem
	right 2rem
	z-index 1

.toaster div
	opacity 0
	width 18rem
	background $white
	@extend $btn-shadow1
	border-right 4px solid #ff6b6b
	border-radius 4px 2px 2px 4px
	animation toast 250ms ease-in 8s forwards
	transition all 200ms ease-out
	transform translateY(1rem)
	position absolute
	padding 1rem
	bottom 0
	right 0

.toaster small
	display block
	font-size 0.8rem
	padding-top 0.25rem

.toaster div.show
	transform translateY(0)
	opacity 1

@keyframes toast {
	from {
		opacity 1
		transform translateY(0)
	}
	to {
		opacity 0
		transform translateY(-1rem)
	}
}
