$gray = #F3F3F4
$white = #FFFFFF
$black = #1D1F20 // 404041

$orange1 = #FAAE40 // #FBAD41
$orange2 = #F78100

$blue1 = #E2F5FA
$blue2 = #6ECCE5
$blue3 = #1855dc
$blue4 = #093682

$selection = rgba($orange1, 0.3)

$focus-ring
	&:focus,
	&:focus-visible
		box-shadow \
			0 0 0 2px var(--bg, $white), \
			0 0 0 4px $orange2
	&:focus:not(:focus-visible)
		box-shadow none

$btn-shadow1
	box-shadow \
		rgba($blue4, 0.25) 0px 2px 5px -1px, \
		rgba($black, 0.3) 0px 1px 3px -1px

$btn-shadow2
	box-shadow \
		rgba($blue4, 0.25) 0px 6px 12px -2px, \
		rgba($black, 0.3) 0px 3px 7px -3px

// ---
// ROOT
// ---

*
	margin 0
	outline none
	padding 0

*, *:after, *:before
	box-sizing border-box

*
	@extend $focus-ring

::selection
	background-color $selection

html
	font-size 16px

body
	line-height 1.4
	font-family -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif
	overflow-x hidden
	color $black
	width 100vw

[hidden]
	display none

section
	padding 4rem 0

b
	color $orange2

h1
	font-size 2.4rem
	margin-bottom 1.5rem
	line-height 1.2

h2
	font-size 2rem
	margin-bottom 1rem

.logo
	display flex
	padding 0.5rem
	position relative
	align-items baseline
	border-radius 0.25rem
	text-decoration none
	height 3.75rem

.logo .ico
	height 2.75rem
	width 4rem

.logo .txt
	width 8rem
	height 1.55rem
	margin-left 4px

.logo.sq::after
	content ''
	width 3.75rem
	height 3.75rem
	position absolute
	border 4px solid $gray
	transition border-color 250ms
	border-radius 4px
	left 1.15rem
	top 0.15rem
	z-index -1

.logo.sq:hover::after
	border-color $selection

.tac
	text-align center

a.hov
	color $orange2
	font-weight 700
	text-decoration none
	position relative
	overflow hidden
	z-index 1

a.hov::after
	content ''
	position absolute
	background $selection
	transition 350ms cubic-bezier(0.25, 0.1, 0, 2.05)
	left 1rem
	bottom -0.5rem // (0.75rem / -2)
	width calc(100% - 0.75rem)
	height calc(100% - 0.75rem)
	z-index 0

a.hov:hover::after
	left -0.125rem
	bottom -0.125rem
	border-radius 2px
	width calc(100% + 0.25rem)
	height calc(100% + 0.25rem)

footer a
	border-radius 4px
	text-decoration none
	padding $footer-link-padding
	transition color 150ms linear
	color currentColor

footer .copy
	font-size 0.75rem
	margin 5rem auto 0
	text-align center
footer .copy a
	padding 0.125rem

footer a:hover,
footer a:focus
	color $orange2
