$gray = #F3F3F4
$white = #FFFFFF
$black = #1D1F20 // 404041

$orange1 = #FAAE40 // #FBAD41
$orange2 = #F78100

$blue1 = #E2F5FA
$blue2 = #6ECCE5
$blue3 = #1855dc
$blue4 = #093682

$selection = rgba($orange1, 0.3)

$focus-ring
	&:focus,
	&:focus-visible
		box-shadow \
			0 0 0 2px var(--bg, $white), \
			0 0 0 4px $orange2
	&:focus:not(:focus-visible)
		box-shadow none

$btn-shadow1
	box-shadow \
		rgba($blue4, 0.25) 0px 2px 5px -1px, \
		rgba($black, 0.3) 0px 1px 3px -1px

$btn-shadow2
	box-shadow \
		rgba($blue4, 0.25) 0px 6px 12px -2px, \
		rgba($black, 0.3) 0px 3px 7px -3px

// ---
// ROOT
// ---

*
	margin 0
	outline none
	padding 0

*, *:after, *:before
	box-sizing border-box

*
	@extend $focus-ring

::selection
	background-color $selection

html
	font-size 16px

body
	line-height 1.4
	font-family Poppins
	overflow-x hidden
	color $black
	width 100vw

// ---
// ELEMENTS
// ---

[hidden]
	display none

.box
	width 100%
	max-width 900px
	min-width 300px
	margin 0 auto

.grid
	display grid
	position relative
	justify-items center
	grid-template-columns minmax(0, 1fr) minmax(0, 1fr)
	grid-column-gap 4rem
	column-gap 4rem

.tac
	text-align center

nav,
nav .box
	display flex
	border-bottom 1px solid $gray
	height 5rem

nav .box
	justify-content space-between

.logo
	display flex
	padding 0.5rem
	position relative
	align-items baseline
	border-radius 0.25rem
	text-decoration none
	height 3.75rem

.logo .ico
	height 2.75rem
	width 4rem

.logo .txt
	width 8rem
	height 1.55rem
	margin-left 4px

section
	padding 4rem 0

b
	color $orange2

h1
	font-size 2.4rem
	margin-bottom 1.5rem

h2
	font-size 2rem
	margin-bottom 1rem

.ac
	align-items center

input,
button
	outline none
	background transparent
	-webkit-appearance none
	border none

.btn
	cursor pointer
	border-radius 6px
	text-decoration none
	padding 0.75rem 1.5rem
	background-color $gray
	transition all 250ms ease-in-out
	display inline-block
	text-align center
	color $black
	@extend $btn-shadow1

.btn:hover
	@extend $btn-shadow2

.btn
	@extend $focus-ring

.btn.pri
	background-color $orange2
	color $white

form.grid
	max-width 32rem
	margin 1rem auto 0
	grid-gap 1.5rem
	gap 1.5rem

label
	--bb #7C8794
	position relative
	padding-top 1.5rem
	text-align left
	width 100%

label > span
	color #3C434A
	position absolute
	transition all 250ms
	transform-origin bottom left
	transform translateY(-4.5rem) scale(0.875)

label > input
	display block

input
	width 100%
	color #3C434A
	padding 0.25rem 0.5rem
	border-radius 0.5rem 0.5rem 0 0
	transition border-color 200ms linear
	border-bottom 1px solid #7C8794
	line-height 2rem
	font-size 1rem

input:hover,
label:hover > input
	border-color $orange1

input:focus,
input:focus-visible
	box-shadow none
	border-color $orange2

form label:last-of-type
	grid-column 1/3

label input:invalid + span
	transform translateY(-2.25rem) scale(1)
	color #7C8794

label:hover + span
	color #7C8794

label input:focus + span,
label input:focus-visible + span,
label.fill > input + span
	transform translateY(-4.5rem) scale(0.875)
	color #7C8794

// ---
// INTRO
// ---

.intro
	position relative
	padding 4rem 0 8.5rem
	line-height 2

.intro::after
	bottom 0
	width 100%
	height 10%
	position absolute
	background-color $blue1
	content ''

.intro svg
	bottom -8.5rem
	position relative
	margin-left 10rem
	pointer-events none
	user-select none
	width 37.5rem
	height auto
	z-index 1

.intro .btn
	min-width 10rem
	margin-right 1rem
	margin-top 1.5rem

// ---
// BANNER
// ---

header[role=banner]
	display flex
	height 6.5rem
	padding 1rem 0
	background-color $blue3
	color $white

// ---
// PRIZE
// ---

.prize
	background-color #EAECF4
	background-color $blue2
	background-color #CFE7F1
	background-color #e7f3f8

.card
	padding 3rem
	max-width 26rem
	border-radius 1rem
	background-color $gray
	background-color #F8FBFB
	@extend $btn-shadow1
	position absolute
	line-height 2
	bottom -8rem
	right 0

// ---
// PACKAGE
// ---

$pkg-height = 6rem
$pkg-depth = 2 * $pkg-height
$pkg-length = 2.4 * $pkg-height
$pkg-icon-size = 1.8 * $pkg-length
$pkg-transition = 650ms

.scene
	height $pkg-depth
	width $pkg-length
	border 1px solid $blue3
	border-radius 0.5rem
	perspective 400px
	margin 3rem 0

.pkg
	position relative
	will-change transform
	transform-style preserve-3d
	transition transform $pkg-transition
	transform \
		translate3d(-72px, 12px, -150px) \
		rotateY(38deg) rotateX(68deg)

// rotateY(25deg) rotateX(72deg)

.face
	overflow hidden
	position absolute
	background-color $white
	border 2px solid $black

.face.h, .face.a
	width $pkg-length
	height $pkg-depth

.face.h
	transform-origin top
	will-change transform
	transition transform ($pkg-transition - 200ms) ease-out 25ms

.face.a
	transform rotateY(180deg) translateZ($pkg-height)

.face.r, .face.l
	width $pkg-height
	height $pkg-depth
	transform-origin left
	transform rotateY(-90deg) translateX(-1 * $pkg-height)

.face.r
	left $pkg-length

.face.t, .face.b
	transform-origin top
	width $pkg-length
	height $pkg-height

.face.t
	transform rotateX(-90deg)

.face.b
	transform translateY($pkg-depth) rotateX(-90deg)
	text-align center

.face svg
	height $pkg-depth
	min-width $pkg-icon-size
	float right

// text
.face.b svg
	width 55%
	float none
	min-width 0
	height 100%

// icons
.face.l svg
	transform translateX($pkg-length)
.face.a svg
	transform translateX($pkg-length + $pkg-height)

.scene:hover .pkg
	transform translateZ(-50px) rotateY(28deg) rotateX(48deg) rotateZ(12deg)
	transform translateZ(-50px) rotateY(30deg) rotateX(48deg) rotateZ(10deg)

.scene:hover .face.h
	transform rotateY(0deg) rotateX(58deg)

// ---
// SIGNUP FORM
// ---

.signup
	padding-top 8rem
	line-height 1.75

.signup .btn
	justify-self left
	justify-self flex-start
	margin-top 1.5rem
	width 12rem

// ---
// FAQ section
// ---

.faq
	position relative

details
	--bg $gray
	display flex
	overflow hidden
	border-radius 2px 1rem 1rem 2px
	background $gray
	transition all 250ms
	border-left 4px solid transparent
	line-height 1.75
	margin-top 1rem
	padding 0.5rem

details > *
	padding 1rem

summary
	cursor pointer
	position relative
	border-radius 0.5rem
	display flex // allows ::marker to hide

summary::after
	content ''
	position absolute
	transition all 250ms ease-in-out
	background transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke='%231D1F20'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 6v6m0 0v6m0-6h6m-6 0H6'/%3E%3C/svg%3E") center no-repeat
	top (1.8rem / 2)
	height 1.8rem
	width 1.8rem
	opacity 0.5
	right 1rem

summary::marker,
summary::-webkit-details-marker
	display none

details:hover
	border-color $orange1
	@extend $btn-shadow1
details:hover summary::after
	opacity 0.75

details[open]
	border-color $orange2
	@extend $btn-shadow1
details[open] summary
	font-weight 700
details[open] summary::after
	transform rotate(45deg)
	opacity 1
details[open]:hover
	@extend $btn-shadow2

details ul
	margin-left 2rem
	margin-top -0.5rem
	padding-top 0

// ---
// FOOTER
// ---

$footer-link-padding = 0.5rem

footer
	padding 3rem 0
	box-shadow inset 0px 2.125px 8.5px -8.5px #1D1F20

footer .box
	display grid
	grid-template-columns 14.25rem 1fr 1fr 1fr
	grid-column-gap 1rem
	column-gap 1rem

footer dt
	color rgba($black, 0.75)
	margin-bottom 1.55rem

footer li
	color $black
	list-style none
	margin-bottom (2 * $footer-link-padding)
	margin-left (-1 * $footer-link-padding)

footer a
	border-radius 4px
	text-decoration none
	padding $footer-link-padding
	transition color 150ms linear
	color currentColor

footer .copy
	font-size 0.75rem
	margin 5rem auto 0
	text-align center
footer .copy a
	padding 0.125rem

footer a:hover,
footer a:focus
	color $orange2

footer .logo::after
	content ''
	width 3.75rem
	height 3.75rem
	position absolute
	border 4px solid $gray
	transition border-color 250ms
	border-radius 4px
	left 1.15rem
	top 0.15rem
	z-index -1

footer .logo:hover::after
	border-color $selection

// ---
// PKG CONTENTS
// ---

$pkg-icon-size = 8rem
$pkg-icon-gutter = 1rem

$pkg-icon-delay-base = 300ms
$pkg-icon-delay-step = 150ms

.scene figure
	height $pkg-icon-size
	width $pkg-icon-size
	position absolute
	background-color $blue1
	border 4px solid $blue2
	transform translateZ(-4rem)
	transition-property transform
	transition-timing-function cubic-in-out
	transition-duration var(--ms)
	transition-delay var(--w)
	border-radius 50%
	display flex
	justify-content center
	align-items center
	padding 1rem
	padding-left var(--l, 1rem)

.scene figure svg
	width 100%
	height 100%

.scene:hover figure
	// unset / revert `.scene:hover .pkg` transformation
	transform \
		rotateZ(-10deg) rotateX(-48deg) rotateY(-30deg) translateZ(-50px) \
		translate3d(var(--x), var(--y, -4rem), -8rem)

// keycap (last & left-most)
figure.k
	--x (22rem + $pkg-icon-size*1 + $pkg-icon-gutter*0)
	--ms ($pkg-icon-delay-base + $pkg-icon-delay-step*0)
	--w 800ms

// hat (2nd last)
figure.h
	--l 1.6rem
	--x (22rem + $pkg-icon-size*2 + $pkg-icon-gutter*1)
	--ms ($pkg-icon-delay-base + $pkg-icon-delay-step*1)
	--w 700ms

// cup (middle)
figure.c
	--l 1.8rem
	--x (22rem + $pkg-icon-size*3 + $pkg-icon-gutter*2)
	--ms ($pkg-icon-delay-base + $pkg-icon-delay-step*2)
	--w 600ms

// sticker (2nd)
figure.s
	--x (22rem + $pkg-icon-size*4 + $pkg-icon-gutter*3)
	--ms ($pkg-icon-delay-base + $pkg-icon-delay-step*3)
	--w 500ms

// tshirt (1st & right-most)
figure.t
	--x (22rem + $pkg-icon-size*5 + $pkg-icon-gutter*4)
	--ms ($pkg-icon-delay-base + $pkg-icon-delay-step*4)
	--w 400ms
